# configuration of listening web server
# copy this file to config.yml
# uncomment and update customized values (commented are default values)
web:
  # application title
  title: Foothold Sitac

  # ip address
  # ip: 0.0.0.0

  # port number
  # port: 8080

  # automatic python service reload when scripts are updated (dev environment only)
  # reload: false

dcs:
    saved_games: "C:\\Users\\veaf\\Saved Games" # !! update your setup

map:

    # openstreetmap
    # url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"

    # arcgis (default)
    url: "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}"
