<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Foothold SITAC - map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map {
            height: 100vh;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        map_center = JSON.parse('{{ center }}')
        const map = L.map('map').setView(map_center, 7);

        // Fond OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; OpenStreetMap'
        }).addTo(map);

        // load data (todo: how to refresh ?)
        fetch('{{ request.url_for("foothold_map_data", server=server) }}')
            .then(r => r.json())
            .then(data => {
                data.forEach(p => {


                    var circle = L.circle([p.lat, p.lon], {
                        color: p.color,
                        fillColor: p.color,
                        fillOpacity: 0.3,
                        radius: 10000
                    }).addTo(map)
                        .bindPopup(p.name || `${p.lat}, ${p.lon}`);
                    ;

                    /*
                    L.marker([p.lat, p.lon])
                        .addTo(map)
                        .bindPopup(p.name || `${p.lat}, ${p.lon}`); 
                    */
                });
            })
            .catch(console.error);
    </script>
</body>

</html>